/.idea/
/ingestion-agent/.venv/
/ingestion-agent/.pdm-python
/flink/jobs/analytics-flink-job/.idea/
/flink/jobs/ingest-batch-job/.idea/
/flink/jobs/ingest-stream-job/.idea/
/flink/jobs/ingest-stream-job/.idea/
./ingestion-agent/app/__pycache__
ingestion-agent/app/__pycache__
ingestion-agent/app/__pycache__
ingestion-agent/app/__pycache__/*
/flink/jobs/analytics-flink-job/target
/flink/jobs/analytics-flink-job/target/*
flink/jobs/ingest-batch-job/target/*
flink/jobs/ingest-batch-job/target/
flink/jobs/analytics-flink-job/target/
flink/jobs/analytics-flink-job/target/*